<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/admin">
      <img src="https://cdn.icon-icons.com/icons2/317/PNG/96/shop-icon_34368.png" alt="Logo" width="30" height="24"
        class="d-inline-block align-text-top">
    </a>
    <h4 class="cabecera">Administrador de Productos</h4>
    <button type="button" class="btn btn-secondary" (click)="openModal(template)">Nuevo Producto</button>
  </div>
</nav>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Registrar Producto</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body mt-2">
    <app-formulario-registro (hideModal)="modalRef?.hide()"></app-formulario-registro>
    <button aria-label="Close" (click)="modalRef?.hide()" class="btn btn-danger" style="width: 100%;">Cancelar</button>
  </div>
</ng-template>