<div class="background">
  <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/admin">
        <img src="https://cdn.icon-icons.com/icons2/317/PNG/96/shop-icon_34368.png" alt="Logo" width="30" height="24"
          class="d-inline-block align-text-top">
      </a>
      <h4 class="cabecera">Listado Ventas</h4>
    </div>
  </nav>
  <div class="list">
    <app-sales-list></app-sales-list>
  </div>
</div>