* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

header {
  background-color: #3c404b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 1px 10%;
}

header .logo {
  cursor: pointer;
}

header .logo img {
  margin-top: 50%;
  height: 50px;
  width: auto;
  transition: all 0.3s;
}

header .logo img:hover {
  transform: scale(1.2, 1.2);
}


header .nav-links {
  list-style: none;
}


header .nav-links li {
  display: inline-block;
  padding: 0 40px;
}

.btn {
  padding: 5px;
}


.dropdown-item {
  cursor: pointer;
}

.carrito {
  margin-left: 2rem;
  margin-top: 0;
}

.cart_panel {
  position: relative;
  background-color: rgb(255, 255, 255);
  overflow-y: auto;
}

header .carrito {
  cursor: pointer;
}

header .carrito img {
  height: 50px;
  width: auto;
  transition: all 0.3s;
}

header .carrito img:hover {
  transform: scale(1.2, 1.2);
}
/*
header .nav-links li:hover {
  transform: scale(1.1);
}

header .nav-links a {
  font-size: 700;
  color: rgb(36, 36, 36);
  text-decoration: none;
}

header .nav-links li a:hover {
  color: rgb(103, 101, 101)
}

header .btn {
  font-weight: 700;
  color: rgb(25, 20, 93);
  padding: 9px 25px;
  background-color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

header .btn:hover {
  background-color: rgb(25, 20, 93);
  color: rgb(220, 218, 218);
  transform: scale(1.1);
} */