.fondo {
  background-image: url(https://wallpapercave.com/wp/wp6994803.jpg);
  background-size: cover;
  background-attachment: scroll;
  
}

h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: oblique;
  color: rgb(0, 0, 0);

}


.card {
  width: 18rem;
  border: 2px solid white;
  display: inline-block;
  background-color: rgba(240, 237, 233, 0.592);
  margin: 0px 10px 15px 0px;
}

.card img {
  height: auto;
  background-size: contain;
  background-position: center;
}



.modal-body {
  display: flex;
}

.modal-body-right img {
  max-width: 150px;
}