<app-navbar></app-navbar>
<app-products-carousel></app-products-carousel>
<h3 class="text-start px-5 fs- my-3">
  Productos
</h3>

<section class="container-fluid">
  <div class="row w-80 mx-auto servicio-fila">

    <div class="col-lg-4 col-md-6 col-sm-12 my-4 d-flex icono-wrap" *ngFor="let item of listProducts">
      <img [src]=getUrl(item.image) alt="Celular" width="220" height="200">
      <div>
        <h3 class="fs-5 px-3 pb-1">{{item.brand}} {{item.model}}</h3>
        <p class="px-3">{{item.description}}</p>
        <div class="d-grid gap-2 me-auto w-20">
          <button class=" btn btn-success px-3 pb-1 w-20 mt-3" (click)="findProduct(item)">Comprar</button>
        </div>

      </div>

    </div>

  </div>
</section>





<div class="card justify-content-center" style="margin-right: 10px;" *ngFor="let item of listProducts">

  <img [src]=getUrl(item.image) class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{item.model}}</h5>
    <p class="card-text">{{item.brand}}
    </p>



    <div class="d-grid gap-2 w-20 me-auto">
      <button class=" btn btn-success px-3 pb-1 w-20 mt-3" (click)="findProduct(item)">Comprar</button>
    </div>



  </div>

</div>

<app-footer></app-footer>