<header class="container">
  <h2 class="text text-center">Carrito</h2>
  <div class="alert alert-info" role="alert" *ngIf="productsCart.length === 0">
    No tienes productos en el carrito
  </div>
  <table class="table" *ngIf="productsCart.length > 0">
    <thead>
      <tr>
        <th scope="col">Imagen</th>
        <th scope="col">Modelo</th>
        <th scope="col">Marca</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Subtotal</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngFor="let products of productsCart">
      <tr>
        <th scope="row"><img [src]=getUrl(products.image) width="80px" height="80px" alt="imagen"></th>
        <td class="col">{{products.model}}</td>
        <td class="col">{{products.brand}}</td>
        <td class="col">{{products.price}}</td>
        <td class="col">{{products.quantity}}</td>
        <td class="col">{{products.quantity * products.price}}</td>
        <td><button class="button" (click)="deleteProduct(products.id)"><img
              src="../../../assets/img/basura.png"></button></td>
      </tr>
    </tbody>
  </table>

  <button class="btn btn-outline-success" *ngIf="productsCart.length > 0" (click)="doSell()">
    Comprar Todo &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="../../../assets/img/aplicacion-wallet-pass.png">
  </button>

</header>