.table {
  text-align: center;
}

.alert {
  width: 50%;
  text-align: center;
  margin-left: 25%;
  margin-top: 5%;
}

.btn {
  text-align: center;
  align-content: center;
  height: 50px;
  width: 200px;
  margin-left: 40%;
}

.button {
  border: none;
  background-color: white;
  /*padding: 0.3rem;*/
  margin-top: 1.5rem;
}