<app-navbar></app-navbar>
<section class="container-fluid">
  <div class="row w-100 mx-auto servicio-fila">

    <div class="col-12 my-5 d-flex icono-wrap">
      <img [src]=getUrl(newProduct?.image) alt="Celular">
      <div>
        <h3 class="mt-5 fs-3 px-4 pb-1 text-center">{{newProduct?.brand}} {{newProduct?.model}}</h3>
        <p class="px-4 mt-5 fs-3 text-center">{{newProduct?.description}}</p>
        <p class="px-4 mt-5 fs-3 text-center">{{newProduct?.createdAt}}</p>
        <p class="px-4 mt-5 fs-3 text-center"><span class="text-success" *ngIf="newProduct?.stock != 0">
            Disponible a
          </span>${{newProduct?.price}}</p>
        <div class="d-grid gap-2">
          <div class="mx-auto">
            <button class="btn btn-success" (click)="increaseAmount()">+</button>
            <p class="d-inline text-center mx-3">{{amount}}</p>
            <button class=" btn btn-danger" (click)="decreaseAmount()">--</button>

          </div>
          <button [disabled]="newProduct?.stock==0 || amount==0" class="btn btn-outline-success "
            (click)="addCart(newProduct!,amount)">Agregar al Carrito</button>
        </div>






      </div>
    </div>
  </div>
</section>



<app-footer></app-footer>