<app-navbar></app-navbar>

<body>
  <div class="container-wrapper">
    <div class="container1">
      <div>
        <h2><b><i>{{newProduct?.model}}</i></b></h2>
        <h6>{{newProduct?.brand}}</h6><br>
        <img [src]=getUrl(newProduct?.image) style="width: 30%;" alt="">
      </div>
    </div>
    <div class="container2">
      <div>
        <h2><b><i>ESPECIFICACIONES</i></b></h2>
        <p>Descripción: {{newProduct?.description}}</p><br>
        <p>Precio: ${{newProduct?.price}}</p><br>
        <p>Stock: {{newProduct?.stock}}</p><br>
        <p maxlength="10">Publicación: {{newProduct?.createdAt}}</p>
        <button [disabled]="newProduct?.stock==0" class="btn btn-outline-success" (click)="addCart(newProduct!,amount)">Agregar al Carrito</button>
        <input type="number" [defaultValue]="1" min="1" max={{newProduct?.stock}} class="amount" #amount>
      </div>


    </div>
  </div>
  <footer>
    <app-footer></app-footer>
  </footer>

</body>